---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Portafolio personal</h1>
			<p>
				Hola, soy Diego Ruan, me considero un aficionado de la tecnología en todas sus versiones y un entusiasta de la 
				programación, el desarrollo web y el uso de herramientas en la nube. 
			</p>
			<p>
				Actualmente estoy estudiando mi carrera de Ingeniería en Sistemas Computacionales en la Universidad Autónoma
				de Aguascalientes, en México 🇲🇽
			</p>
			<p> 
				Me estoy desarrollando con varias herramientas y tecnologías, quiero aumentar el número de estas en un futuro.
				A continuación te muestro un listado con las que ya he trabajado y las que fueron parte de mi formación:
			</p>
			<ul>
				<li> Lenguaje - C y C++</li>
				<li> Lenguaje - Java </li>
				<li> Lenguaje - JS con HTML & CSS </li>
				<li> Lenguaje - PHP </li>
				<li> Lenguaje - Python </li>
				<li> Herramienta - Git & Github </li>
				<li> Herramienta - Notion & Obsidian</li>
				<li> Framework - Angular </li>
				<li> Framework - Astro </li>


			</ul>
			<p>
				Siempre me he caracterizado por ser una persona trabajadora y que le gusta mucho trabajar en 
				equipo, me considero muy perseverante y que muy difícilmente se rinde.
			</p>
			<p>
				Gracias por entrar a mi portafolio, échale un vistazo a mis proyectos.
			</p>
		</main>
		<Footer />
	</body>
</html>
